* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Barra de Navegacion */

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 100;
    background: #f1f1f1;
    height: auto;
    line-height: 2.5rem;
}

nav ul {
    list-style: none;
}

nav ul li a{
    text-decoration: none;   
    font-size: 22px;
    margin-left: 20px;
    color: darkcyan;
}

nav ul li a:hover {
    color: #0b1169;
    text-shadow: 1px 1px 2px #034c4d78;
}

#marca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    height: 10vh;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: beige;
    height: 10vh;
}

.error_404 img{
    height: 100vh;   
    display: block;
    margin: auto;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #006191;
    padding: 50px 0;
}

/* Grid Productos*/

.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "item_01 item_02"        
    ;
    gap: 20px;
    margin: 2em 4em;
}

.producto_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
    padding: 2%;
}

.item-titulo h2,
h3 {
    text-align: left;
    margin-bottom: 50px;
    line-height: 2rem;
    color: #006191;
    font-weight: 100 !important;
}

.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.item img {
    width: 200px;
    margin: 5px;
}

.mano img {
    width: 100%;
}

.item_01 {
    grid-area: item_01;
}

.item_02 {
    grid-area: item_02;
}

.line {
    width: 100%;
    margin: 2rem auto;
    height: 4px;
    background: #006191;
    border-radius: 50%;
}


/* Fin Grid Productos*/